---
title: Articles
layout: layout-default-with-title
---
<!-- Articles Graph Section -->
<section class="section-01-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <p><strong>For any subject (adding an article, asking for a question, telling an error in contents, ...), do not hesitate to contact us.</strong></p>
            </div>
        </div>
    </div>
</section>

<!-- Articles Content Section -->
<section class="section-white-shadow">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h4 class="section">Article 01</h4>
                <p>{{> snippet-lorem-paragraph }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h4 class="section">Article 02</h4>
                <p>{{> snippet-lorem-paragraph }}</p>
            </div>
        </div>
    </div>
</section>
