<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse top-navbar-collapse" id="top-navbar">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="../fr/index.html" style="padding: 0px 20px 0px 20px;"><img src="{{assets}}/img/default/flags/FR_24.png" width="24" height="24" alt="Français" /></a>
        </li>
        <li class="page-scroll">
            <a href="index.html"><span class="twj twj-gi-home"></span>Home</a>
        </li>
        <li class="page-scroll">
            <a href="articles.html"><span class="twj twj-gi-education"></span>Articles</a>
        </li>
        <li class="page-scroll">
            <a href="documentation.html"><span class="twj twj-gi-book"></span>Documentation</a>
        </li>
    </ul>
</div>
