---
title: Accueil
---
<!-- NotFrenchVersion Content Section -->
<section class="section-white-shadow">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <p><strong>Il n'existe pas de version française pour le moment.</strong></p>
                <p>Merci de revenir sur le site web en anglais.</p>
                <p><a href="../en/index.html" style="padding: 0px 20px 0px 20px;"><img src="{{assets}}/img/default/flags/GB_24.png" width="24" height="24" alt="Anglais" />&nbsp;Site web en Anglais</a></p>
            </div>
        </div>
    </div>
</section>
