<!-- Specific Legal Information -->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h4 class="section">Contexte du projet Libre</h4>
        <p>
            Le projet Tawja est open-source et de ce fait est le fruit de nombreuses interactions.
        </p>
        <p>
            La société Microsfair pilote le projet, et utilise les moyens en sa possession pour  :
        </p>
        <ul>
            <li>Gérer le projet.</li>
            <li>Prévenir tous manquements aux règles (abus, respect des licenses, ...).</li>
            <li>Mettre à disposition l'infrastructure technique pour le projet.</li>
        </ul>
        <p>
            En aucun cas, la société Microsfair ne pourra être tenue responsable au delà des limites fixées par les licences libres utilisées.
        </p>
    </div>
</div>
