<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse top-navbar-collapse" id="top-navbar">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="../en/index.html" style="padding: 0px 20px 0px 20px;"><img src="{{assets}}/img/default/flags/GB_24.png" width="24" height="24" alt="English" /></a>
        </li>
        <li class="page-scroll">
            <a href="index.html"><span class="twj twj-gi-home"></span>Accueil</a>
        </li>
    </ul>
</div>
