<div class="container">
    <div class="row">
        <div class="footer-col col-md-4">
            <h3 class="section">Contact</h3>
            <p>Projet Tawja</p>
            <p class="white">
                <span class="twj twj-fw twj-gi-envelope"></span> 
                <script>document.write('<' + 'a' + ' ' + 'h' + 'r' + 'e' + 'f' + '=' + "'" + 'm' + 'a' + 'i' + 'l' + '&' + '#' + '1' + '1' + '6' + ';' + 'o' + '&' + '#' + '5' + '8' + ';' +
                            'c' + 'o' + 'n' + 't' + 'a' + 'c' + 't' + '&' + '#' + '6' + '4' + ';' + 't' + 'a' + 'w' + '&' + '#' + '1' + '0' + '6' + ';' + 'a' + '%' + '&' + '#' +
                            '5' + '0' + ';' + '&' + '#' + '6' + '9' + ';' + 'o' + 'r' + 'g' + "'" + '>' + '&' + '#' + '9' + '9' + ';' + '&' + '#' + '1' + '1' + '1' + ';' + 'n' +
                            't' + 'a' + 'c' + 't' + '&' + '#' + '6' + '4' + ';' + '&' + '#' + '1' + '1' + '6' + ';' + '&' + '#' + '9' + '7' + ';' + 'w' + 'j' + 'a' + '&' + '#' +
                            '4' + '6' + ';' + 'o' + 'r' + 'g' + '<' + '/' + 'a' + '>');</script><noscript>[Activate JavaScript to see the e-mail address]</noscript>
            </p>
        </div>
        <div class="footer-col col-md-4">
            <h3 class="section">Sur le Web</h3>
            <ul class="list-inline">
                <li>
                    <a href="http://github.com/tawja" class="btn-social btn-outline"><i class="twj twj-fw twj-fa-github"></i></a>
                </li>
            </ul>
            <p class="small">
                <a href="http://www.microsfair.com">
                    <img class="print_none" src="{{assets}}/img/default/logos/twj-misf-logo-white.png" alt="Microsfair" width="190" height="50" />
                    <img class="print_only" src="{{assets}}/img/default/logos/twj-misf-logo.png" alt="Microsfair" width="190" height="50" />
                </a>
            </p>
            <p class="small">
                La société qui soutient le projet
            </p>
        </div>
        <div class="footer-col col-md-4">
            <h3 class="section">A Propos</h3>
            <p>
                Tawja est le projet Open-Source relatif à la Plateforme Microsfair
                <br/>
                Hébergement : OVH <small>SAS</small>
            </p>
            <p>
                <!-- Legal Notice  -->
                <a href="legal-notice-fr.html" class="btn btn-sm btn-default">
                    Mentions
                </a>
            </p>
            <p class="small">
                {{mavenProperties.version}}
            </p>
        </div>
    </div>
</div>
